
.aventureCategories1  { height: 20vh; width: 25%; background: url(../assets/images/adventure-photos/canoe-girl.jpg); background-size: cover; }
.aventureCategories2  { height: 20vh; width: 25%; background: url(../assets/images/adventure-photos/beach-bonfire.jpg); background-size: cover; }
.aventureCategories3  { height: 20vh; width: 25%;background: url(../assets/images/adventure-photos/mountain-hikers.jpg); background-size: cover; }
.aventureCategories4  { height: 20vh; width: 25%; background: url(../assets/images/adventure-photos/night-sky.jpg); background-size: cover; }