
	<h2 class="textCenter black categories caps"> shop stuff </h2>
	<div class="flex shopStuff textCenter">
		<div class="shopCategories">
			<img src="../assets/images/product-type-icons/do.svg">
			<P>Get back to the nature with all the tools and toys you need to enjoy the great outdoors. </P>
			<button class="greenButton">Do stuff</button>
		</div>
		<div class="shopCategories">
			<img src="../assets/images/product-type-icons/eat.svg">
			<P>Nothing beats food cooked over a fire. We have all you need for good camping eats. </P>
			<button class="greenButton">EatStuff</button>
		</div>
		<div class="shopCategories">
			<img src="../assets/images/product-type-icons/sleep.svg">
			<P> Get a good night's rest in the wild in a home away from home that travels well.</P>
			<button class="greenButton">Sleep Stuff</button>
		</div>
		<div class="shopCategories">
			<img src="../assets/images/product-type-icons/wear.svg">
			<P>From flannel shirts to toques look the part while roughing it in the great outdoors. </P>
			<button class="greenButton">Wear stuff</button>
		</div>
	</div>
