<section>
	<h2 class="textCenter black categories caps"> Latest Adventures </h2>
	<div class="flex Adventure">
		<div class="aventureCategories1">
				<P>Geting Back to Nature in a Canoe </P>
				<button class="ligthButton textCenter">Read More</button>
		</div>
		<div class="aventureCategories2">
					<P>A night with Friends at the Beach </P>
					<button class="ligthButton textCenter">Read More</button>
		</div>
		<div class="aventureCategories3">
					<P>Taking in the view at Big Mountain </P>
					<button class=" ligthButton textCenter">Read More</button>
		</div>
		<div class="aventureCategories4">
					<P>Star-Gaxing at the Night Sky </P>
					<button class="ligthButton textCenter">Read More</button>	
		</div>
	</div>
	<button class="textCenter greenButton ">More Adventures </button>
</section>