

h5 {color: #CF7D42}
i {padding-right: 10px; padding-left: 5px;}
.flex {
display: flex;


}

.footerImage {
	background:  url("../assets/images/dark-wood.png") no-repeat;
	background-size: cover;
	color: white;
	

}

.divider {
	justify-content: space-between;
	padding-top: 20px;
}

.info{
padding: 20px;
justify-content: flex-start;

}

.contactInfo{margin-right: 100px;margin-left: 50px}

.copyright{ padding-bottom: 40px; }

.logoFull {padding-top: 60px; padding-right: 200px;}