<div class="banner">
    <div class="flex logonavi">
      <div  >
        <a [routerLink]="['/']" ><img src="./assets/images/logos/inhabitent-logo-tent-white.svg" class="logo" ></a>
      </div>
      <div class="navigation flex">
        <a [routerLink]="['/shop']">Shop</a>
        <a [routerLink]="['/journal']">Journal</a>
        <a>About</a>
        <a>Find US</a>
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
    <div class="logoFull">
      <img src="./assets/images/logos/inhabitent-logo-full.svg"  >
    </div>  
</div>
